{% extends "main/base.html" %}

{% load render_table from django_tables2 %}

{% load crispy_forms_tags %}

{% block title %}home page{% endblock %}

{% block content %}
{% include "main/navbar.html" %}
<br>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
                <div class="text-center">
                    <h5 class="">Change log</h5>
                    <br>
                    {% for change in changelog %}
                    <hr>
                    Title: {{ change.title }} <br>
                    Version: {{ change.version }}<br>
                    <br>
                    Message: {{ change.message }}<br>
                    <br><br>
                    {% endfor %}
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
{% endblock %}