{% extends "main/base.html" %}

{% block title %}Error - no report generated {% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
                <br>
			</div>
			<div class="jumbotron">
				<h2 class="text-center">
					ERROR
				</h2>
				<p class="text-center">
					Today report for city: {{ city }} and category: {{ category }} is not available. Please try later.
				</p>
				<p class="text-center">
					<a class="btn btn-primary btn-large" href="{% url 'main:index' %}">Back to main page</a>
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}