{% extends "main/base.html" %}

{% load render_table from django_tables2 %}

{% load crispy_forms_tags %}

{% block title %}nosalary.pl{% endblock %}

{% block content %}
{% include "main/navbar.html" %}
<br>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
                <div class="text-center">
                    There are <b>{{ ALL_ads_today_count }}</b> ads aggregated today.
                    <br>
                    There are from cities like:
                    {% for city in agg_cities %}
                        <br>{{ city }}
                    {% endfor %}<br><br>
                    For following categories:
                    {% for category in agg_categories %}
                        <br>{{ category }}
                    {% endfor %}
                    <br><br>
                    <b>Interesting things:</b><br>
                    Offer with highest B2B salary is from {{ best_b2b.company_name }} ( {{ best_b2b.city }} )
                    for position {{ best_b2b.vacancy_name }}.
                    <br>
                    They offer {{ best_b2b.salary_b2b_min }} -
                    {{ best_b2b.salary_b2b_max }} PLN +VAT.
                    <br><br>
                    Offer with highest UoP salary is from {{ best_uop.company_name }} ( {{ best_uop.city }} )
                    for position {{ best_uop.vacancy_name }}.
                    <br>
                    They offer {{ best_uop.salary_uop_min }} -
                    {{ best_uop.salary_uop_max }} PLN gross.
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
{% endblock %}
